.icon-img {
	background-size: cover; 
	width: 80;
	height: 80;
}
#main-screen {
	display: none;
}
#main-screen.active {
	display: block;
	position: absolute;
	top: 2%;
	left: 0;
}
.icon {
	margin: 2%;
	font-size: 120%;
	font-family: Clock, 'Arciform';
	color: white;
	display: block;
}