@font-face {
	font-family: Clock;
	src: url(../assets/clock.ttf);
}
#bar {
	margin-top: 0.2%;
	padding: 0.2%;
	font-size: 120%;
	font-family: Clock, 'Arciform';
	color: white;
}
html {
	user-select: none;
	background-image: url(../assets/background.png);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 1080px;
	width: 1920px;
	overflow: hidden;
}