@font-face {
	font-family: Clock;
	src: url(../assets/clock.ttf);
}
#bar {
	padding: 2px;
	font-size: 20px;
	font-family: Clock, 'Arciform';
	color: white;
	margin: 10px 10px 0;
}
html {
	user-select: none;
	overflow: hidden;
	background-color: gray;
}
#osContainer {
	background-image: url(../assets/background.png);
	background-repeat: no-repeat;
	background-size: 2000px;
	height: 1080px;
	width: 1920px;
	box-shadow: 0 0 50px black;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	overflow:hidden
}