.icon-img {
	background-size: cover; 
	width: 80;
	height: 80;
}
#shortcuts {
	display: none;
}
#shortcuts.active {
	display: block;
	position: absolute;
	top: 70px;
	left: 6px;
}
#bar {
	display: none;
}
#bar.active {
	display: block;
}
.icon {
	margin: 2%;
	font-size: 120%;
	font-family: Clock, 'Arciform';
	color: white;
	display: block;
}