.icon-img {
	background-size: cover; 
	width: 80px;
	height: 80px;
}
#shortcuts {
	display: none;
}
#shortcuts.active {
	display: block;
	position: relative;
	top: 70px;
	left: 5px;
	margin: 10px 10px 0;
}
#cursor {
	position: absolute;
	top: 500px;
	left: 1000px;
	z-index: 3;
}
#bar {
	display: none;
}
#bar.active {
	display: block;
}
.icon {
	margin: 2px;
	width: 40px;
	font-size: 20px;
	font-family: Clock, 'Arciform';
	color: white;
	display: block;
}